@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --font-oswald: 'Oswald', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --accent-lime: #ccff00;
  --bg-dark: #0b0c0e;
  --bg-card: #121318;
  --bg-card-border: #1e2029;
}

body {
  background-color: var(--bg-dark);
  color: #f4f4f5;
  font-family: var(--font-inter);
}

.font-display {
  font-family: var(--font-oswald);
}